@model IEnumerable<CarModel>
@{
    ViewData["Title"] = "Cars";
}

<h1>Cars</h1>

<a asp-action="CreateCar">Create</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Brand</th>
            <th>Model</th>
            <th>RegNumber</th>
            <th>Mileage</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Brand</td>
                <td>@item.Model</td>
                <td>@item.RegNumber</td>
                <td>@item.Mileage</td>
                
            </tr>
        }

    </tbody>
</table>